.cdx-wquote-icon svg {
  transform: rotate(180deg);
}

.cdx-wquote {
  margin: 0;
}

.cdx-wquote-content {
  width: 100%;
  padding: 10px 12px;
}

.cdx-wquote__text {
  min-height: 112px;
  background: #F9F9F9;
  color: #8a8a8a;
}

.cdx-wquote__text::before {
  content: '“' !important;
  font-size: 4rem;
  top: -10px;
  left: 18px;
  color: #D3DEEA;
  font-family: fantasy;
}

.cdx-wquote__caption {}

.cdx-wquote__tail {
  text-align: right;
  color: #8a8a8a;
  background: #F9F9F9;
}


.cdx-wquote-settings {
  display: flex;
}

.cdx-wquote-settings .cdx-settings-button {
  width: 50%;
}
